html {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }
}

nav {
  background-color: grey;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  font-size: 1.2em;
  a {
    color: white;
    text-decoration: white;
    margin-left: 0.7rem;
  }
}

.title {
  font-size: 3em;
  margin-top: 3rem;
  margin-bottom: 4rem;
}

@import "section--1";
@import "section--2";
@import "section--3";
@import "section--4";
@import "section--5";
@import "section--6";
